In [52]:
import pandas as pd

df = pd.read_csv('C:/Users/Dylan/Google Drive/Suffolk/SP 16/MAT 107/HW 4/HeartDiseaseProcessedVirginia.txt', names = ['Age', 
'Sex (1 = m; 0 = f)', 'CPT', 'RBP', 'Chol', 'FBS', 'Rest ECG', 'Thalach', 'Exang', 'Oldpeak', 'Slope', 'CA', 'Thal', 'Diag'])

In [53]:
df.head(5)

,Age,Sex (1 = m; 0 = f),CPT,RBP,Chol,FBS,Rest ECG,Thalach,Exang,Oldpeak,Slope,CA,Thal,Diag
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [54]:
df.tail(5)

,Age,Sex (1 = m; 0 = f),CPT,RBP,Chol,FBS,Rest ECG,Thalach,Exang,Oldpeak,Slope,CA,Thal,Diag
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,?,3.0,0

In [55]:
df4 = df[df.Diag == 4]

In [56]:
df4["Age"].mean()

59.69230769230769

In [57]:
df4["RBP"].mean()

138.76923076923077

In [58]:
df4["Chol"].mean()

253.3846153846154